    /* header section */

    #tbackimg {
        background-image: url(/images/Mountain\ View\ Garden\ \(1\).avif);
        width: 100%;
        height: 862px;
        object-fit: cover;
    }

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #4b2e2e;
    height: 70px;
}

#header img{
    width: 90px;
    height: auto;
}

#navbar{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar li{
    margin-left: 25px;
    position: relative;
    list-style: none;
}

#navbar li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.homeac{
    color: gold;
}

#navbar li a:hover::after,
#navbar li a.homeac::after{
    content: "";
    width: 30%;
    height: 2px;
    background: gold;
    position: absolute;
    left: 0;
    bottom: -5px;
}





#hero h1 {
    font-size: 70px;
    color: white;
    margin-left: 490px;
    margin-top: 280px;
    font-weight: 1px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 15px;
}

#hero p {
    font-size: 21px;
    color: white;
    margin-left: 635px;
    margin-top: px;
    font-weight: 1px;
    letter-spacing: 5px;
}

#hero a {
    background-image: url('/images/button.back.png');
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    transition: 0.1s;
   
}
#hero li {
     margin-left: 700px;
    margin-top: 60px;
   position: relative;
}


#hero li a:hover,
#hero li a.exolore {
    color: #850f00;
}

#hero1 {
    width: 100%;
    display: flex;
   margin-top: 10PX;
    height: 761px;
    
    object-fit: cover;
}



.leftd {
    width: 35%;
    font-size: 40px;
    color: #330600;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.rightd {
    width: 65%;
    background-image: url(/images/travel.jpg);
    
}
.leftd svg {
    margin-top: 100px;
    position: relative;
    bottom: 0;

}
.leftd p {
    color: #330600;
    font-size: 20px;
}

#hero2 {
    background-color: rgb(205, 248, 248);
    height: 2420px;
}


#hero2 h1 {
    width: 50%;
    font-size: 60px;
    color: #330600;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    padding-left: 30px;
    margin: 0;
    padding-top: 20px;
}
#hero2 .hero2p {
    
    font-size:20px;
    color: #330600;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    padding-left: 30px;
    margin: 0;
    bottom: 70px;
    right: -1100px;
    position: relative;
    display: inline;
}

.h2im1 {
    background-image: url(/images/AdobeStock_165491536.avif);
    width: 97%;
    margin-left: 20px;
    margin-right: 20px;
    height: 700px;
    margin-top: 19px;
}
li {

    list-style-type: none;
}

.h2mi11 {
    background-color: white;
    position: relative;
    right: -1100px;
    width: 320px;
    height: 150px;
    top: 20px;
}

.h2mi11 h3 {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
    color: #7a2a1f;
    font-family: 'Times New Roman', Times, serif;
} 
.h2mi11 p {
    font-size: 15px;
    padding-left: 20px;
    color: #7a2a1f;                              ;
    
} 

.h2im2 {
    background-image: url(/images/AdobeStock_699681846.avif);
    width: 97%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 700px;
    
}

.h2mi22 {
    background-color: white;
    position: relative;
    right: -1100px;
    width: 320px;
    height: 150px;
    top: 20px;
}

.h2mi22 h3 {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
    color: #7a2a1f;
    font-family: 'Times New Roman', Times, serif;
} 
.h2mi22 p {
    font-size: 15px;
    padding-left: 20px;
    color: #7a2a1f;                              ;
    
} 

.h2im3 {
    background-image: url(/images/Woman\ Enjoying\ View.avif);
    width: 97%;
    margin-left: 20px;
    margin-right: 20px;
    height: 700px;
    margin-top: 19px;
    background-position: 0%;
    background-size: 1500px;
    background-repeat: no-repeat;
}

.h2im3 h2 {
    font-size: 30px;
    padding-top: 15px;
    padding-left: 33px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 500px;
} 

.h2im33 li{
     
   transition: 0.1s;
   background-color: white;
   height: 30px; 
   width: 140px;
   text-decoration: none;
   border-radius: 5px;
   margin-left: 33px;
    padding-left: 12px;
    list-style: none;
    position: relative;
    padding-top: 10px;
    
    

}


#h2im33 li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    color: white;
    transition: 0.1s;
}


.h2im33 li a:hover,
.h2im33 li a.exolore {
    color: #850f00;
}

#h2im33 li a.h2im33::after,
#h2im33 li a:hover::after
 { 
    content: "";
    width: 30%;
    height: 2px;
    background-color: #850f00;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero3 {
    background-color: rgb(255, 252, 228);
    height: 530px;
    width: 100%;
    
}

.h3h {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px,1fr));
    
}

.h3h1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #673129;
    
}

.h3h2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #673129;
}

.h3h3 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #673129;
}

.h3h4 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #673129;
}

#onlyimg {
    background-image: url(/images/Cyclists\ Near\ Landmark.avif);
    height: 600px;
    width: 100%;
}
#hero4 {
    display: flex;
}

.hr41 {
    background-color: rgb(255, 253, 227);
    width: 33%;
    margin-left: 10px;
    height: 300px;  
    padding-left: 20px;
     
}


.hr41 img {
position: relative;
    width: 150px;
    height: 190px;
right: -300px;
bottom: 70px;
display: inline;
}

.hr42 {
     background-color: rgb(255, 253, 227);
    width: 33%;
    margin-left: 10px;
    height: 300px;  
    padding-left: 20px;
}

.hr42 img {
position: relative;
    width: 150px;
    height: 190px;
right: -300px;
bottom: 70px;
display: inline;
}

.hr43 {
    background-color: rgb(255, 253, 227);
    width: 33%;
    margin-left: 10px;
    height: 300px;  
    padding-left: 20px;
}

.hr43 img {
position: relative;
    width: 150px;
    height: 190px;
right: -300px;
bottom: 70px;
display: inline;
}

#hero5 {
    display: inline;
    

}
.hr51 {
    background-color: rgb(223, 255, 255);
    height: 300px;
    width: 65%;
    position: relative;
    right: -500px;
    padding-left: 20px;
    padding-top: 10px;
    
}

.hr51 svg {
    position: relative;
    right: -880px;
    padding-top: 30px;
    color: #55211a;
}

#onlyimg2 {
    background-image: url(/images/footer.avif);
    height: 700px;
    width: 100%;
      display: flex;
}

.onlimg11 {
    background-color: white;
    position: relative;
    width: 400px;
    height: 200px;
    top: 20px;
    margin-left: 20px;
    right: -1000px;
    
    
}


.onlimg1 h3 {
    width: 100%;
    font-size: 50px;
    color: #330600;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    padding-left: 50px;
    padding-top: 20px;
   
}



.onlimg11 li{
     
   transition: 0.1s;
   background-color: rgb(119, 0, 0);
   height: 50px; 
   width: 350px;
   text-decoration: none;
   border-radius: 5px;
   margin-left: 20px;
   margin-top: 20px;
    padding-left: 120px;
    list-style: none;
    position: relative;
    padding-top: 10px;
    
    

}

.onlimg11 li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 1000;
    color: white;
    transition: 0.1s;
}

/*email section*/

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #00132d;
    padding-left:30px;
    font-family: Arial, Helvetica, sans-serif;
    height: 250px;
}

#newsletter h4 {
    font-size: 29px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 16px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span {
    color: #ffbd27;
    font-family: Arial, Helvetica, sans-serif;
}

#newsletter .form {
    display: flex;
    width: 35%;


}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    right: 50px;
}
#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    right: 50px;
    height: 53.7px;
    width: 120px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
   
    margin-top: 30px;
    
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

footer .logo {
    margin-bottom: 30px;
    
}

footer .col img {
    margin-bottom: 30px;
    width: 200px;
    margin-left: -31px;
}
footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

footer p {
    font-size: 16px;
   margin: 0 0 8px 0;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: #330600;
    padding-right: 4px;
    cursor: pointer;
}

footer .col-install .row img {
    border: 1px solid #330600;
    border-radius: 6px;
}

footer .col-install .img {
    margin: 10px  0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #330600;
}

footer .copyright {
    width: 100%;
    text-align: center;
}



/*about.css*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f8f8;
}

/* Navbar */    

#header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#4b2e2e;
    height:80px;
}

#header img{
    width:90px;
    margin-left:20px;
}

#navbar{
    display:flex;
    align-items:center;
}

#navbar li{
    list-style:none;
    padding:0 20px;
    position:relative;
}

#navbar li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

#navbar li a:hover,
#navbar li a.homeac{
    color:gold;
}

#navbar li a:hover::after,
#navbar li a.homeac::after{
    content:"";
    width:30%;
    height:2px;
    background:gold;
    position:absolute;
    left:20px;
    bottom:-5px;
}


.login{
    background: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.login a{
    color: #4b2e2e !important;
}
/* Hero */
.about-hero{
    background:url('https://images.unsplash.com/photo-1488646953014-85cb44e25828');
    background-size:cover;
    background-position:center;
    height:400px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-align:center;
}

.about-hero h1{
    font-size:60px;
}

.about-hero p{
    font-size:22px;
}

/* About Content */
.about-content{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:80px;
    gap:50px;
}

.about-text{
    width:50%;
}

.about-text h2{
    color:#4b2e2e;
    margin-bottom:15px;
}

.about-text p{
    line-height:1.8;
    margin-bottom:30px;
}

.about-image img{
    width:500px;
    border-radius:15px;
}

/* Why Us */
.why-us{
    text-align:center;
    padding:80px 20px;
    background:#fff;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
}

.card{
    width:280px;
    padding:25px;
    background:#f1f1f1;
    border-radius:12px;
}

/* Team */
.team{
    padding:80px 20px;
    text-align:center;
}

.team-members{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
}

.member img{
    width:180px;
    height:180px;
    border-radius:50%;
}

.member h3{
    margin-top:15px;
}

/* Footer */
footer{
    background:#4b2e2e;
    color:white;
    text-align:center;
    padding:20px;
}

/*package css*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Navbar */


#header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#4b2e2e;
    height:80px;
}

#header img{
    width:90px;
    margin-left:20px;
}

#navbar{
    display:flex;
    align-items:center;
}

#navbar li{
    list-style:none;
    padding:0 20px;
    position:relative;
}

#navbar li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

#navbar li a:hover,
#navbar li a.homeac{
    color:gold;
}

#navbar li a:hover::after,
#navbar li a.homeac::after{
    content:"";
    width:30%;
    height:2px;
    background:gold;
    position:absolute;
    left:20px;
    bottom:-5px;
}


.active{
    color:gold;
}

/* Hero */

.package-hero{
    height:350px;
    background:url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-align:center;
}

.package-hero h1{
    font-size:60px;
}

.package-hero p{
    font-size:22px;
}

/* Cards */

.packages{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    padding:60px;
}

.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h2{
    padding:15px;
    color:#4b2e2e;
}

.card p{
    padding:0 15px 10px;
}

.card h3{
    padding:10px 15px;
    color:green;
}

.card button{
    margin:15px;
    padding:12px 25px;
    border:none;
    background:#4b2e2e;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.card button:hover{
    background:#6b3f3f;
}

/* Footer */

footer{
    background:#4b2e2e;
    color:white;
    text-align:center;
    padding:20px;
}   

/*place,html*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Header */

#header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#4b2e2e;
    height:80px;
}

#header img{
    width:90px;
    margin-left:20px;
}

#navbar{
    display:flex;
    align-items:center;
}

#navbar li{
    list-style:none;
    padding:0 20px;
    position:relative;
}

#navbar li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

#navbar li a:hover,
#navbar li a.homeac{
    color:gold;
}

#navbar li a:hover::after,
#navbar li a.homeac::after{
    content:"";
    width:30%;
    height:2px;
    background:gold;
    position:absolute;
    left:20px;
    bottom:-5px;
}

/* Hero */

#placehero{
    height:500px;
    background-image:url("/images/travel.jpg");
    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-align:center;
}

#placehero h1{
    font-size:70px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing:5px;
}

#placehero p{
    font-size:22px;
    margin-top:20px;
}

/* Places */

#places{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
    gap:30px;
    padding:50px;
    background:#f7f3ee;
}

.place-card{
    background:white;
    overflow:hidden;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    transition:0.4s;
}

.place-card:hover{
    transform:translateY(-10px);
}

.place-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.place-info{
    padding:20px;
}

.place-info h2{
    color:#4b2e2e;
    margin-bottom:10px;
    font-size:35px;
    font-family:'Times New Roman', Times, serif;
}

.place-info p{
    font-size:18px;
    color:#555;
}

/*contact css*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f8f8;
}

/* Header */

#header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#4b2e2e;
    height:80px;
}

.logo{
    width:90px;
    margin-left:20px;
}

#navbar{
    display:flex;
    list-style:none;
}

#navbar li{
    padding:0 20px;
    position:relative;
}

#navbar li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

#navbar li a:hover,
#navbar li a.homeac{
    color:gold;
}

/* Hero */

#contacthero{
    height:400px;
    background-image:url("/images/travel.jpg");
    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-align:center;
}

#contacthero h1{
    font-size:70px;
    font-family:'Times New Roman', Times, serif;
}

#contacthero p{
    font-size:22px;
    margin-top:10px;
}

/* Contact Section */

#contact-container{
    display:flex;
    justify-content:space-between;
    gap:50px;
    padding:80px;
}

.contact-info{
    width:40%;
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-info h2{
    color:#4b2e2e;
    margin-bottom:20px;
}

.contact-info p{
    margin-bottom:20px;
    line-height:1.8;
}

.contact-form{
    width:60%;
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-form h2{
    color:#4b2e2e;
    margin-bottom:20px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
}

.contact-form button{
    background:#4b2e2e;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.contact-form button:hover{
    background:#6b3f3f;
}

/* Footer */

footer{
    background:#4b2e2e;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}


/*login*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Header */

#header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#4b2e2e;
    height:80px;
}

.logo{
    width:90px;
    margin-left:20px;
}

#navbar{
    display:flex;
    list-style:none;
}

#navbar li{
    padding:0 20px;
}

#navbar li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}

#navbar li a:hover,
#navbar li a.homeac{
    color:gold;
}

/* Login Section */

#login-page{
    height:90vh;
    background-image:url("/images/Mountain View Garden (1).avif");
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:400px;
    background:rgba(255,255,255,0.95);
    padding:40px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

.login-box h1{
    color:#4b2e2e;
    text-align:center;
    margin-bottom:10px;
}

.login-box p{
    text-align:center;
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
}

.login-box button{
    width:100%;
    padding:15px;
    border:none;
    background:#4b2e2e;
    color:white;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

.login-box button:hover{
    background:#6b3f3f;
}

.extra-links{
    text-align:center;
    margin-top:15px;
}

.extra-links a{
    text-decoration:none;
    color:#4b2e2e;
    font-weight:bold;
}

.extra-links p{
    margin-top:10px;
}

/*explore*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Header */

#header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#4b2e2e;
    height:80px;
}

.logo{
    width:90px;
    margin-left:20px;
}

#navbar{
    display:flex;
    list-style:none;
}

#navbar li{
    padding:0 20px;
}

#navbar li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

/* Hero */

#explorehero{
    height:500px;
    background-image:url("/images/Mountain View Garden (1).avif");
    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
}

#explorehero h1{
    font-size:70px;
    font-family:'Times New Roman', Times, serif;
}

#explorehero p{
    font-size:24px;
}

/* Search */

#search-section{
    padding:50px;
    display:flex;
    justify-content:center;
}

.search-box{
    display:flex;
    gap:15px;
}

.search-box input,
.search-box select{
    padding:15px;
    width:250px;
}

.search-box button{
    padding:15px 30px;
    background:#4b2e2e;
    color:white;
    border:none;
    cursor:pointer;
}

/* Destinations */

#destinations{
    padding:50px;
    text-align:center;
}

#destinations h2{
    font-size:45px;
    color:#4b2e2e;
    margin-bottom:40px;
}

.destination-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:350px;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    border-radius:10px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card h3{
    margin-top:15px;
}

.card p{
    padding:15px;
}

.card button{
    margin-bottom:20px;
    padding:10px 25px;
    background:#4b2e2e;
    color:white;
    border:none;
    cursor:pointer;
}

/* Features */

#whytravel{
    background:#f5f5f5;
    padding:60px;
    text-align:center;
}

#whytravel h2{
    color:#4b2e2e;
    margin-bottom:40px;
}

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.feature{
    width:300px;
    background:white;
    padding:25px;
    border-radius:10px;
}

/* Footer */

footer{
    background:#4b2e2e;
    color:white;
    text-align:center;
    padding:20px;
}   